.row
  .col-lg-8.col-lg-offset-2
    .panel.panel-default.panel-fill
      .panel-heading
        %h3.panel-title
          Nuevo Monitorista
      .panel-body
        = simple_form_for([:admin, @monitorista]) do |f|
          = f.input :nombre
          = f.input :username
          = f.input :email, placeholder: 'monitorista@mass.com'
          = f.input :password, hint: 'Longitud minima 8 caracteres'
          = f.input :password_confirmation, hint: 'Confirmar contraseña'
          = f.input :telefono, placeholder: '951 123 12 23'
          = f.button :submit, class: 'btn-primary pull-right'

